.flexbox-one{
  display: flex;
  height: 50px;
  flex-direction: row;
}

.item1-flexbox{
  display: flex;
  width: 100px;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
}

.item1{
  background-color: black;
  color: white;
}

.two{
  width: 200px;
  background-color: lightblue;
}

.cotton-candy{
  display: flex;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.left-side{
  background-color: lightpink;
  width: 100px;
}

.right-side{
  width: 200px;
  background-color: lightblue;
}

.row2{
  display: flex;
  justify-content: space-between;
}

.row2-item{
  background-color: black;
  color: white;
}

.inbox-layout{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.inboxes{
  color: grey;
  font-family: Arial;
  font-size: 14px;
  margin-bottom: 20px;
}

.email-received{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.email-photo{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.email-information{
  margin-left: 10px;
  flex: 1;
}

.sender{
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.sender-name{
  font-weight: bold;
  font-size: 18px;
  font-family: arial;
}

.time-received{
  font-size: 14px;
  color: grey;
  font-family: arial;
}

.promotion{
  font-family: arial;
  font-weight: bold;
  margin-bottom: 5px;
}

.email-text{
  color: grey;
  font-family: arial;
}

.tweet{
  display: flex;
  width: 420px;
  margin-top: 10px;
  margin-left: 20px;
}

.profile-picture{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.column2{
  margin-left: 10px;
  font-family: arial;
}

.section1{
  
  flex: 1;
}

.tweet-names{
  display: flex;
  margin-bottom: 5px;
}

.nickname{
  font-weight: bold;
  margin-right: 5px;
}

.username{
  color: grey;
}

.tweet-text{
  line-height: 20px;
  margin-bottom: 15px;
}

.section2{
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-radius: 15px;
  align-items: center;
  overflow: hidden;
}

.thumbnail{
  margin-right: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(221, 221, 221);
}

.video-website{
  color: grey;
  margin-bottom: 3px;
}

.video-title{
  line-height: 22px;
}

.video-information{
  flex: 1;
}

