.a{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left{
  background-color: lightblue;
  width: 200px;
}

.right{
  background-color: lightpink;
  width: 75px;
}

.b{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.item1{
  background-color: lightblue;
  width: 50px;
}

.item2{
  background-color: lightpink;
  flex: 1;
}

.item3{
  background-color: lightblue;
  width: 75px;
}

.c{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.item{
  background-color: lightpink;
}

.d{
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.items{
  background-color: lightpink;
}

.e{
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 6px;
  width: 300px;
  margin-bottom: 30px;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Arial;
}

.num{
  background-color: rgb(49, 109, 245);
  color: white;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 20px;
  font-size: 14px;
}

.f{
  display: flex;
  flex-direction: row;
  background-color: rgb(134, 64, 199);
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.home{
  font-weight: 700;
  font-family: Arial;
  margin-right: 35px;
}

.search-bar{
  border-radius: 15px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 20px;
  flex: 1;
  max-width: 500px;
  height: 30px;
}

.download-button{
  background-color: rgb(134, 64, 199);
  border-color: white;
  color: white;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 35px;
}
p{
  font-family: Arial;
  margin-bottom: 0px;
  margin-top: 0px;
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 15px;
}

.profile-info{
  width: 200px;
}

.name{
  font-weight: bold;
  margin-bottom: 3px;
}

.nickname{
  color: grey;
  margin-bottom: 5px;
}

.popular{
  color: grey;
  font-size: 14px;
}

.follow-button{
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

