body {
  height: 3000px;
}

.close-button {
  background-color: black;
  color: white;
  position: absolute;
  top: -18px;
  left: -18px;
  font-family: Arial;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-box {
  position: fixed;
  height: 180px;
  width: 320px;
  background-color: grey;
  bottom: 20px;
  right: 20px;
}

.video-time {
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: arial;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
}

.item {
  position: relative;
  display: inline-block;
}

.item-picture {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.discount {
  background-color: black;
  color: white;
  position: absolute;
  top: 10px;
  right: 0;
  font-family: arial;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.highlight {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  height: 80px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}